.imgBox{
    position: absolute;
    display: flex;
     top: 0;
     left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.imgBox img{
    max-width: 80%;
    max-height: 80%;
    margin:  auto;
    border: 2px solid black;
    border-radius: 5px;
}
